html {
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
}

#sliding {
    overflow: visible;
    background-color: #181d27;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.initial-page {
    margin-bottom: 10vh;
}

#welcome-text {
    color: #3BC14A;
    font-weight: 600;
    font-size: 15rem;
    animation: slideRight 2s;
}

#create-account {
    font-size: 1.5rem;
    color: #181d27;
    font-weight: 600;
    width: 25vw;
    height: 10vh;
    margin-top: -18vh;
    border: none;
    border-radius: 5vh;
    background: linear-gradient(90deg,#3BC14A,#69b578);
    animation: slideLeft 2s;
}
#create-account:hover {
    opacity: .5;
}

#create-account:active {
    opacity: .25;
}

.name-page, .contact-page, .username-page, .password-page {
    margin-top: 20vh;
}
.confirm-page {
    margin-top: 10vh;
}
.thank-you-page {
    margin-top: 20vh;
}
#instruction {
    color: #3BC14A;
    font-weight: 600;
    font-size: 5rem;
}
.entries {
    display: flex;
    gap: 5vw;
    margin-bottom: 5vh;
    margin-top: .1vh;
}

.input-holder {
    position: relative;
}

input {
    width: 20vw;
    outline: none !important;
    border: none;
    border-bottom: 3px solid;
    background-color: #181d27;
}

label {
    position: absolute;
    top: -2.7vh;
    left: 0;
    font-size: 2rem;
    color: #525967;
    cursor: text;
    transition: .3s ease-in-out;
}

input:focus + label, 
input:valid + label {
    font-size: 1rem;
    color: #EEF0F2;
    top: -3vh;
    pointer-events: none;
}

input:focus, input:valid {
    font-family: 'Nunito', sans-serif;
    border-bottom: #EEF0F2 solid;
    font-size: 2rem;
    color: #EEF0F2;
}
.next {
    font-size: 1.5rem;
    color: #181d27;
    font-weight: 600;
    width: 15vw;
    height: 10vh;
    border: none;
    border-radius: 5vh;
    background: linear-gradient(90deg,#3BC14A,#69b578);
}
.next:hover {
    opacity: .5;
}
.next:active {
    opacity: .25;
}

#show-password {
    position:absolute;
    top: -1.5vh;
    left: calc(20vw - 2rem);
    font-size: 2rem;
    color: #525967;
}

#show-confirm-password {
    position:absolute;
    top: -1.5vh;
    left: calc(20vw - 2rem);
    font-size: 2rem;
    color: #525967;
}

.show-user-entries {
    margin-bottom: 8vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2vw;
}


.user-entry {
    width: 20vw;
    height: calc(2rem + 1.2vh);
    outline: none !important;
    border: #EEF0F2 solid 3px;
    border-radius: 5vh;
    background-color: #181d27;
}
.user-entry:placeholder-shown {

}

.user-entry::placeholder {
    color: #EEF0F2;
    font-size: 2rem;
    padding: .5rem;
    line-height: calc(2rem + 1vh);
    vertical-align: bottom;
    font-family: 'Nunito', sans-serif;
}

.user-entry-label {
    font-size: 1rem;
    color: #EEF0F2;
    top: -3vh;
    pointer-events: none;
}

#thank-you-text {
    color: #3BC14A;
    font-weight: 600;
    font-size: 10rem;
    animation: 1s pulse infinite;
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100vw);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100vw);
    }
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	70% {
		transform: scale(.95);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}