html {
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
}

#sliding {
    overflow: visible;
    background-color: #181d27;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.initial-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    width: 100vw;
    height: 100vh;
}

#welcome-text {
    color: #3BC14A;
    font-weight: 600;
    font-size: 15rem;
    animation: slideRight 2s;
}

#create-account {
    font-size: 1.5rem;
    color: #181d27;
    font-weight: 600;
    width: 25vw;
    height: 10vh;
    margin-top: -18vh;
    border: none;
    border-radius: 5vh;
    background: linear-gradient(90deg,#3BC14A,#69b578);
    animation: slideLeft 2s;
}
#create-account:hover {
    opacity: .5;
}

#create-account:active {
    opacity: .25;
}

.name-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    width: 100vw;
    height: 100vh;
}
#name-instruction {
    color: #3BC14A;
    font-weight: 600;
    font-size: 5rem;
}
.name-entires {
    display: flex;
    gap: 5vw;
    margin-bottom: 5vh;
    margin-top: .1vh;
}

.name-input-holder {
    position: relative;
}

.name-input {
    width: 20vw;
    outline: none !important;
    border: none;
    border-bottom: 3px solid;
    background-color: #181d27;
}

.name-label {
    position: absolute;
    top: -2.2vh;
    left: 0;
    font-size: 2rem;
    color: #525967;
    cursor: text;
    transition: .3s ease-in-out;
}

.name-input:focus + .name-label, 
.name-input:valid + .name-label {
    font-size: 1rem;
    color: #EEF0F2;
    top: -3vh;
    pointer-events: none;
}

.name-input:focus, .name-input:valid {
    font-family: 'Nunito', sans-serif;
    border-bottom: #EEF0F2 solid;
    font-size: 2rem;
    color: #EEF0F2;
}
.next {
    font-size: 1.5rem;
    color: #181d27;
    font-weight: 600;
    width: 15vw;
    height: 10vh;
    border: none;
    border-radius: 5vh;
    background: linear-gradient(90deg,#3BC14A,#69b578);
}
.next:hover {
    opacity: .5;
}
.next:active {
    opacity: .25;
}


@keyframes slideUp {
    0% {
        transform: translateY(250px);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100vw);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100vw);
    }
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	70% {
		transform: scale(.95);
	}

	100% {
		transform: scale(1);
	}
}





@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}